.carousel-caption{
   z-index: 2;
}

.carousel-caption h5{
   font-size: 3em;
   font-weight: bold;
}


.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}
.explore-institute{
   background-color: rgba(221, 238, 245, 0.49);
}
.register-bg{
   background-color: rgb(34, 172, 227);
}
.fa-quote-right{
	font-size: 100px;
}
.fa-star, .fa-star-half-stroke{
	color: rgb(227, 184, 76);
}