.carousel-caption{
   z-index: 2;
}

.carousel-caption h5{
   font-size: 3em;
   font-weight: bold;
}


.carousel-inner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}
.explore-institute{
   background-color: rgba(221, 238, 245, 0.49);
}
.register-bg{
   background-color: rgb(34, 172, 227);
}
.fa-star, .fa-star-half-stroke{
	color: rgb(227, 184, 76);
}
.fa-circle-chevron-right, .fa-circle-chevron-left{
	font-size: 25px;
	color:skyblue;
}

.fa-circle-chevron-right:hover, .fa-circle-chevron-left:hover{
	color: darkblue;
}

.navbar a:hover{
	box-shadow: inset 200px 0 0 0 #54b3d6;
  color: white;
}

.ho:hover{
	cursor: pointer;
	transition: all 0.3s ease;
	transform: scale(1.1);
	box-shadow: 5px 10px #888888;
}

.bg:hover{
	background-color: bisque;
}
.fa-facebook:hover{
	cursor: pointer;
}